body{
    background: linear-gradient(45deg, #ce2dff86, #78faae );
    background-repeat: no-repeat;
    background-attachment: fixed;
   
}

#title{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 42px;
}
#description{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 26px;
}
#formContainer{
    display:flex;
    width: 45%;
    background-color: rgba(61, 2, 155, 0.479);
    margin: auto;
    border-radius: 5px;
}
.contentSubtitle{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 30%;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 150%;    
    flex-direction: column;
    font-size: larger;
}
.textField{
    width: 100%;
    height: 150%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    border-radius: 5px;
    padding: 8px;
    color: grey;
}
#dropdown{
    width: 103%;
    color: grey;
}
.radioButton{
    display: block;
    
}
.checkboxes{
    display: block;
    
}
#SuggestionBox{
    color:grey;
    width:100%;
    resize: none;
}
#submit{
    margin-left: 7%;
    padding: 2%;
    width:200%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50px;
    margin-bottom: 3px;

}
#submit:hover{
    background-color: #78faae;
    color: black;
}

